.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.textpacific {
  font-family: Pacifico, cursive;
  text-align: center;
  font-size: 58px;
  color: rgb(0, 221, 255);
  background-color: rgba(84, 84, 84, 0);
  text-shadow: rgb(0, 0, 0) 2px 2px 2px;
}

.floating-image {
  animation: floatAnimation 5s infinite ease-in-out; /* Adjust the animation duration (5s) and timing function as desired */
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(
      -70px
    ); /* Adjust the vertical translation value (-10px) */
  }
  100% {
    transform: translateY(0);
  }
}
